body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: white;
  line-height: 1.75;
  font: arial, sens-serif;
}

.app {
  min-height: 655px;
  height: 100vh;
  background-color: #E4E2E7;
  position: relative;
  background-size: cover;
  background-position: center;
}

.logo {
  width: 50px;
  margin-left: 45px;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// first line

.top-line {
  padding-top: 40px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  nav {
    font-family: 'Lato', sans-serif;
    font-size: 44px;
    display: block;
    position: absolute;
    top: 16px;
    right: 45px;
  }

  ul {
    list-style: none;
    float: right;
    margin: 0;
  }

  li {
    transition: all .3s ease;
    float: left;
    padding: 15px;
  }

  a {
    text-decoration: none;
    color: #99d9ea;
    transition: all .3s ease;
  }

  li:hover {
    transition: all .3s ease;
    cursor: pointer;
    a {
      color: #00A2E8;
      transition: all .3s ease;
    }
  }
}

// second line

.header-flex {
  padding-top: 200px;
}

.flex-center {
  margin: auto;

  .container {
    width: 1040px;
    margin: 0 auto;
  }
}

.header-composition {
  max-width: 500px;
  text-align: center;
  position: relative;
  background-color: rgba(153,217,234, 0.2);
  padding: 30px;
  p {
    margin-top: 40px
  }

  .welcome {
    h1 {
      line-height: 1.4;
      font-size: 2.5rem;
      margin: 0px;
    }

    a {
      color: inherit;
      transition: all 0.3s ease;
    }

    a:hover {
      color: #00A2E8;
      transition: all 0.3s ease;
    }

    .hithere {
      font-size: 24px;
      position: relative;
      width: 100%;
      // display: flex;
      align-items: center;
      white-space: nowrap;
      margin: 0;
      span {
        margin: 0 10px;
  
        &::before, &::after {
          content: '';
          height: 1px;
          width: 38%;
          position: absolute;
          background-color: #FFF;
          left: 0;
          top: 50%;
        }
        &::after {
          right: 0;
          left: auto;
        }
      }
    } 
  }
}

.header-composition:hover {
  cursor: default
}

.cv {
  text-decoration: underline
}

.contacts {
  margin-top: 40px
}

.icons {
  a {
    margin: 0 20px;
    font-size: 40px;
  }
}
